/* Estilos gerais (padrão) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #0F1624;
  }
  
  /* Estilos para 1366px */
  @media screen and (max-width: 1366px) {
    
    body {
      font-size: 14px; /* Ajuste do tamanho da fonte */
    }
    
    header {
      padding: 20px; /* Menos padding no header */
    }
    
    .container {
      width: 90%; /* Aumentando a largura do container */
      margin: 0 auto; /* Centralizando */
    }
    
    nav {
      display: flex;
      flex-direction: column; /* Navegação em coluna */
    }

    .menu {
      display: flex;
      gap: 80px; /* Espaçamento entre itens do menu */
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      position: fixed;
      font-size: 16px;
  }

    .logo {
        display: flex;
        position: relative;
        left: -600px;
        height: 60px;
        width: 60px;
        top: 20px;
    }

    .sociais {
        display: flex;
        position: relative;
        bottom: 40px;
        gap: 20px;
    }

    .sociais svg{
      width: 25px;
      height: 25px;
    }

    .home-main-container {
      height: 1000px;
      width: 800px;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
      color: white;
      margin-left: 50px;
    }

    .card{
      color: white;
      width: 300px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: solid 2px #0084ff50;
      border-radius: 10px;
      transition: ease 0.4s;
      overflow: auto;
      scrollbar-width:none;
      text-align: center;
      font-size: 18px;
    }

    .buttoncard {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 100px;
      border-radius: 60px;
      color: white;
      border: 1px solid #7e87be;
      cursor: pointer;
      margin: 5px;
      background: none;
      transition: ease 0.4s;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }

    .diferenciais {
        display: flex;
        flex-direction: column; /* Alinha o título e a lista verticalmente */
        position: relative;
        top: 300px;
        width: 620px; /* Define a largura do contêiner */
        color: white;
        left: 29%;
        font-size: 18px;
    }

    .progress-bar-containerb {
        position: absolute; /* Posiciona a barra de progresso no fundo */
        height: 3px; /* Define a altura da barra de progresso */
        bottom: 1px;
        width: 600px;
        border-radius: 10px;
        left: 28%;
    }

    .sobreadd {
        display: flex;
        flex-direction: column; /* Alinha o título e a lista verticalmente */
        position: relative;
        top: 400px;
        width: 600px; /* Define a largura do contêiner */
        color: white;
        left: 25%;
    }
  }
  
  /* Estilos para 768px */
  @media screen and (max-width: 768px) {
    body {
      font-size: 12px; /* Reduzindo o tamanho da fonte */
    }
    
    header {
      padding: 15px; /* Menos padding no header */
    }
    
    .container {
      width: 95%; /* Largura quase total */
    }
    
    nav {
      flex-direction: column; /* Navegação em coluna */
    }
    
    .grid {
      display: grid;
      grid-template-columns: 1fr; /* Um coluna para grid */
    }
  }
  
  /* Estilos para 480px */
  @media screen and (max-width: 480px) {
    body {
      font-size: 10px; /* Tamanho da fonte menor */
    }
    
    header {
      padding: 10px; /* Menos padding no header */
    }
    
    .container {
      width: 100%; /* Largura total */
    }
    
    nav {
      font-size: 12px; /* Reduzindo o tamanho da fonte da navegação */
    }
    
    .button {
      padding: 10px; /* Ajustando o padding do botão */
      font-size: 12px; /* Ajustando o tamanho da fonte do botão */
    }
  }
  