@media (max-width: 1366px) and (min-width: 1366px) {
    .logo {
        display: flex;
        height: 80px;
        width: 80px;
        left: 10px;
        top: 12px;
        position: relative;
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        gap: 20px;
        font-size: 18px;
    }
    
    .titulo {
        font-size: 30px;
        margin-bottom: 0px;
        text-align: start;
    }

    .paragrafo {
        font-size: 14px;
        width: 650px;
        text-align: start;
    }

    .home-img{
        width: 550px !important;
        height: 600px !important;
    }

    .home-img img {
        width: 100%; 
        max-width: 550px; 
        height: auto; 
        margin: 0 auto; 
        display: block;
    }
    
    .servicos {
        display: flex;
        flex-wrap: wrap;
        margin-top: 300px;
        width: 350px;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }

    .diferenciais {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 620px;
        margin: 0 auto; /* Centraliza */
        color: white;
    }
    
    .progress-bar-containerb {
        position: absolute; /* Posiciona a barra de progresso no fundo */
        bottom: -3px; /* Alinha a barra de progresso ao fundo do item da lista */
        height: 3px; /* Define a altura da barra de progresso */
        width: 600px;
        border-radius: 10px;
        left: 400px;
    }

    .sobreadd {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        margin: 0 auto; /* Centraliza o conteúdo */
        color: white;
        position: relative;
    }
    
}